table.sudoku {
    border-collapse: collapse;
}

/* Mark the regions with thicker borders */
.sudoku .region {
    border: 3px solid black;
}

/* Headers */
/* Hide the border in the header row and column */
.sudoku th {
    width: 25px;
    font-weight: normal;
    font-size: 14px;
    color: gray;
}
.sudoku thead th {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}
.sudoku tbody th {
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
}

/* Cells */
.sudoku td {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    padding: 0;
}
.sudoku td input {
    height: 40px;
    width: 40px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    text-align: center;
    border: 0;
    padding: 0;
}
.sudoku .solvable {
    background-color: #c4dfe6;
}

.sudoku .debug {
    font-size: small;
}

/* Don't show the arrows in the number input box - it takes up too much space */
/* Chrome, Safari, Edge, Opera */
.sudoku input::-webkit-outer-spin-button,
.sudoku input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}