<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sudoku Puzzle</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" />
	<link rel="stylesheet" type="text/css" href="/puzzle.css" />
</head>
<body>

<h1>Sudoku</h1>

<table class="sudoku">
	<!--/* column groups to mark the regions */-->
	<colgroup><col></colgroup>
	<colgroup class="region" th:each="columns : ${board.regionColumns}">
		<col th:span="${columns.length}">
	</colgroup>

	<!--/* header row */-->
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col" th:each="column : ${board.columns}" th:text="${column.index + 1}" />
		</tr>
	</thead>

	<!--/* row groups to mark the regions */-->
	<tbody class="region" th:each="rows : ${board.regionRows}">
		<tr th:each="row : ${rows}">
			<th scope="row" th:text="${#strings.substring('ABCDEFGHI', row.index, row.index + 1)}" />
			<td th:each="cell : ${row.cells}">
				<input type="number" min="1" max="9"
					   th:value="${cell.value > 0 ? cell.value : ''}"
					   th:readonly="${cell.value > 0}"
					   th:class="${#sets.contains(solvableCells, cell.index) ? 'solvable' : ''}" />
			</td>
		</tr>
	</tbody>
</table>

</body>
</html>