<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<title>Sudoku Puzzle</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" />
	<link rel="stylesheet" type="text/css" href="/puzzle.css" />
</head>
<body>

<h1>Sudoku</h1>

<form action="#" th:action="@{/puzzles}" method="post">
	<table class="sudoku">
		<!--/* column groups to mark the regions */-->
		<colgroup><col></colgroup>
		<colgroup class="region" th:each="columns : ${grid.regionColumns}">
			<col th:span="${columns.length}">
		</colgroup>

		<!--/* header row */-->
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col" th:each="column : ${grid.columns}" th:text="${column.index + 1}" />
			</tr>
		</thead>

		<!--/* row groups to mark the regions */-->
		<tbody class="region" th:each="rows : ${grid.regionRows}">
			<tr th:each="row : ${rows}">
				<th scope="row" th:text="${#strings.substring('ABCDEFGHI', row.index, row.index + 1)}" />
				<td th:each="cell : ${row.cells}" th:object="${grid.cells[__${cell.index}__]}">
					<input type="number" min="1" max="9"
						   th:readonly="${cell.value > 0}"
						   th:class="${#sets.contains(solvableCells, cell.index) ? 'solvable' : ''}"
						   th:field="*{value}"
					/>
				</td>
			</tr>
		</tbody>
	</table>

	<input type="submit" value="Update" />
</form>

<div>
	<p th:text="${'Solvable: ' + #strings.setJoin(solvableCells, ', ')}" />
	<table class="sudoku">
		<!--/* column groups to mark the regions */-->
		<colgroup><col></colgroup>
		<colgroup class="region" th:each="columns : ${grid.regionColumns}">
			<col th:span="${columns.length}">
		</colgroup>

		<!--/* header row */-->
		<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col" th:each="column : ${grid.columns}" th:text="${column.index + 1}" />
		</tr>
		</thead>

		<!--/* row groups to mark the regions */-->
		<tbody class="region" th:each="rows : ${grid.regionRows}">
		<tr th:each="row : ${rows}">
			<th scope="row" th:text="${#strings.substring('ABCDEFGHI', row.index, row.index + 1)}"/>
			<td th:class="${cell.value == null ? 'debug' : ''}"
				th:each="cell : ${row.cells}"
				th:classappend="${#sets.contains(solvableCells, cell.index) ? 'solvable' : ''}"
				th:text="${cell.value ?: #strings.setJoin(possibleValuesPerCell[cell.index], ', ')}"
			/>
		</tr>
		</tbody>
	</table>
</div>

</body>
</html>